.item-container .left-box {
  margin: auto;  
}

.item-container .left-box input {
  margin-left: 30%;
}

.item-container .right-box {
  margin: auto;  
}

.item-container .right-box input {
  margin-left: 30%;
}
