.container {
	max-width: 600px;
	width: 80%;
	margin: 30px auto;
	overflow: auto;
	min-height: 300px;	
	padding: 30px;
	border-radius: 10px;
  border: 0px rgb(59, 57, 57);
  background-color: rgb(105, 96, 119);
	box-shadow: 0px 0px 8px -1px;
}